<div class="row">
    <form id="debugForm" method="post" class="form-horizontal span10">

        <%= view("template", "textbox", {title: "Url", input_tags: {id: "url", class: "span4", autocomplete: "off", }}) %>
        <%= view("template", "select", {title: "Type", select_tags: {id: "type", class: "span4"}, items: {
            get:    "GET",
            post:   "POST",
            put:    "PUT",
            delete: "DELETE"
        }}) %>
        <%= view("template", "control_group", {label: {title: "Parameters"}, controls: [
            { view: :button, title: "add", type: "button", button_tags: {id: "addParameter"}},
            { view: :button, title: "remove all", type: "button", attributes: ["danger"], button_tags: {id: "removeAllParameter"}},
            "<div id='parameters'></div>"
        ]}) %>
        <%= view("template", "select", {title: "Format", name: "accept", select_tags: {id: "accept", class: "span4"}, items: {
            html: "HTML",
            json: "JSON",
            xml:  "XML"
        }}) %>
        <%= view("template", "button", {title: "test", attributes: ["primary"], button_tags: {"data-loading-text" => "Loading..."}}) %>

    </form>
</div>

<div class="row">
  <div id="result" class="span10"></div>
</div>


<% js "debug/dom2js",
      "debug/debug"
%>
<script>
  $("#url").autocomplete({
      source: <%= urls %>
  })
</script>