<form id="project-add-form" class="form-horizontal" method="post" action="/project" data-href="/projects">

    <%= view("template", "textarea", {title: "About", name: "about", input_tags: {class: "input-xlarge"}, required: true}) %>
    <%= view("template", "slider", {title: "Progress"}) %>
    <%= view("template", "button", {title: "in planning", type: "button"}) %>
    <%= view("template", "skills", {categories: categories}) %>
    <%= view("template", "button", {title: "Add Project", attributes: ["success"]}) %>


</form>