<!--%= keys %-->

<form id="project-edit-form" class="form-horizontal" method="put" action="/project/<%= url %>" data-href="/project/<%= url %>">

  <%# GENERAL SETTINGS %>
  <fieldset>
    <legend><i class="icon-briefcase"></i> General Project Settings</legend>
    <%#= view("template", "textbox", {title: "Title", current: title, input_tags: {class: "input-xlarge"}, required: true, add_after: '<i class="icon-briefcase"></i>'}) %>
    <%= view("template", "slider", {title: "Progress", input_tags: {class: "input-xlarge"}, current: value("progress", 0)}) %>
    <%= view("template", "control_group", {label: {title: "Image"}, controls: [
            {view: :textbox, title: "Image", current: value("image_file_name", ""), input_tags: {class: "input-xlarge"}, add_after: '<i class="icon-camera"></i>', type: "file"},
            "<div class='pull-left thumbnail'><img src='#{image}' alt='user' /></div>"]
    }) %>
    <%= view("template", "textarea", {title: "About", input_tags: {class: "input-xlarge"}, required: true, current: value("about")}) %>
  </fieldset>

  <%# SKILLS %>
  <fieldset>
    <legend><i class="icon-tasks"></i> Skills</legend>
    <%= view("template", "skills", {categories: categories, items: skills}) %>
  </fieldset>

  <%# PROJECTS %>
  <fieldset>
    <legend><i class="icon-briefcase"></i> Projects</legend>
  </fieldset>

  <div class="form-actions">
    <button class="btn btn-primary" type="submit">Change project</button>
    <%= link("user/#{user.url}", "Cancel", "btn btn-link") %>
  </div>
</form>