<div class="row">
  <div class="span3">
    <div class="pull-left thumbnail">
      <img src="<%= image %>"/>
    </div>
    <% if user %>
        <% if hasProject %>
            <% if isAdmin %>
                <%= link("project/#{url}/edit", "Edit Project", "btn btn-primary") %>
            <% end %>
            <%= link("user/#{user.url}/leave/#{url}", "Leave Project", "btn btn-danger") %>
        <% else %>
            <%= link("user/#{user.url}/join/#{url}", "Join Project", "btn btn-success") %>
        <% end %>
    <% end %>
  </div>
  <div class="span7">
        <h4 class="gap50">Information</h4>

        <div class="form-horizontal form-only-text">
          <%= view("template", "control_group", {label: {title: "progress :"}, controls: ["<div class='gap5-top'>#{progress ? "#{progress}%" : "in planning"}</div>"]}) %>
          <%= view("template", "control_group", {label: {title: "created :"}, controls: ["<div class='gap5-top'>#{created_at.strftime("%Y-%m-%d")}</div>"]}) %>
          <%= if value("about") then
            view("template", "control_group", {label: {title: "about :"}, controls: ["<div class='gap5-top'>#{about}</div>"]})
          end %>
        </div>
  </div>
</div>


<div class="row">
  <div class="span10" id="user-skills-header">
    <h4>Skills of <%= title %></h4>
    <% if  skills.empty? %>
        <i> <%= "#{title} has no skills" %></i>
    <% else %>
        <%= view("template", "skills_show", {items: skills}) %>
    <%end%>
  </div>
</div>



<div class="row">
  <div class="span10" id="user-projects-header">
    <h4>Members of <%= title %></h4>
    <% if  users.empty? %>
        <i> <%= "#{title} has no members" %></i>
    <% else %>
        <ul class="media-list users">
          <% users.each do |user| %>
              <li class="media">
                <%= link("user/#{user.url}", "<img class='media-object' src='#{user.image.url(:small)}'/>", "pull-left thumbnail") %>
                <div class="media-body">
                  <h5 class="media-heading"><%= link("user/#{user.url}", user.username) %></h5>
                  <%= user.about %>
                </div>
              </li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>