<div class="row">
  <div class="span3">
    <div class="pull-left thumbnail">
      <img src="<%= image %>"/>
    </div>
    <div class="pull-left buttons-below-image">
        <% if ownAccount %>
            <%= link("user/#{url}/edit", "Edit profile", "btn btn-primary") %>
        <% end %>
        <% unless invitations.empty? %>
            <div class="btn-group">
              <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                Invite to project
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% invitations.each do |project| %>
                    <li><%= link("project/#{project.url}/invite/#{url}/", project.title) %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <% unless excludes.empty? %>
            <div class="btn-group">
              <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                Replace from project
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% excludes.each do |project| %>
                    <li><%= link("project/#{project.url}/remove/#{url}/", project.title) %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
    </div>
  </div>
  <div class="span7">
    <% if value("forename") or value("surname") or value("birthday :") or value("website :") or value("about :") %>
        <h4 class="gap50">Personal Dates</h4>

        <div class="form-horizontal form-only-text">
          <%= if value("forename") then
                view("template", "control_group", {label: {title: "forename :"}, controls: ["<div class='gap5-top'>#{forename}</div>"]})
              end %>
          <%= if value("surname") then
                view("template", "control_group", {label: {title: "surname :"}, controls: ["<div class='gap5-top'>#{surname}</div>"]})
              end %>
          <%= if value("birthday") then
                view("template", "control_group", {label: {title: "birthday :"}, controls: ["<div class='gap5-top'>#{birthday}</div>"]})
              end %>
          <%= if value("website") then
                view("template", "control_group", {label: {title: "website :"}, controls: ["<div class='gap5-top'>#{website}</div>"]})
              end %>
          <%= if value("about") then
            view("template", "control_group", {label: {title: "about :"}, controls: ["<div class='gap5-top'>#{about}</div>"]})
          end %>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span10" id="user-skills-header">
    <h4>Skills of <%= username %></h4>
    <% if  skills.empty? %>
        <i> <%= "#{username} has no skills" %></i>
    <% else %>

    <%= view("template", "skills_show", {items: skills}) %>

    <%end%>

  </div>
</div>

<div class="row">
  <div class="span10" id="user-projects-header">

    <h4>Projects of <%= username %></h4>
    <% if  projects.empty? %>
        <i> <%= "#{username} has no projects" %></i>
    <% else %>
        <ul class="media-list projects">
          <% projects.each do |project| %>
              <li class="media">
                <%= link("project/#{project.url}", "<img class='media-object' src='#{project.image.url(:small)}'/>", "pull-left thumbnail") %>
                <div class="media-body">
                  <h5 class="media-heading"><%= link("project/#{project.url}", project.title) %></h5>
                  <%= project.about %>
                </div>
              </li>
          <% end %>

        </ul>
    <% end %>

  </div>
</div>
