<!doctype html>
<html>
    <head>
      <meta charset='utf-8'>
      <title><%= @page[:title].gsub(/<[^>]*>/ui,'') %></title>
      <%= css "jqueryui/jquery-ui-1.9.1.custom",
              "/bootstrap/css/bootstrap.min",
              "/bootstrap/plugins/datepicker/css/datepicker"
      %>
      <%= less "style"
      %>
      <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,700,700italic,900,300,300italic' rel='stylesheet' type='text/css'>
      <script src="<%= request.base_url %>/js/jquery-1.8.3.js"></script>
      <script src="<%= request.base_url %>/js/jquery.form.js"></script>
      <script src="<%= request.base_url %>/js/jquery-ui-1.9.2.custom.min.js"></script>
      <script src="<%= request.base_url %>/bootstrap/js/bootstrap.min.js"></script>
      <script src="<%= request.base_url %>/js/less-1.3.0.min.js"></script>
      <script src="<%= request.base_url %>/js/jquery.validate.min.js"></script>
      <script>
          var pSquared = {
              baseUrl: "<%= request.base_url %>",
              session: <%= if user then "'#{user.session}'" else "null" end %>
          };
      </script>
    </head>
    <body>
        <div id="header">
          <div class="wrapper">
            <div id="logo"><%= link("", "<h1 class='hide-text'>p squared – project platform</h1>") %></div>
            <form method="get" action="" id="search" class="noAjax">
              <div class="input-prepend input-append">
                <div class="btn-group">
                  <button class="btn dropdown-toggle input-small" data-toggle="dropdown"><i class="icon-<%= {All: "star", Projects: "briefcase", Users: "user"}[@page[:search].to_sym] %>"></i> <span class="text"><%= @page[:search] %></span> <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a><i class="icon-star"></i> All</a></li>
                    <li class="divider"></li>
                    <li><a><i class="icon-briefcase"></i> Projects</a></li>
                    <li><a><i class="icon-user"></i> Users</a></li>
                  </ul>
                </div>
                <input name="query" type="text" id="prependedDropdownButton" value="<%= @page[:query] %>" placeholder="Search for <%= {All: "Projects and Users", Projects: "Projects", Users: "Users"}[@page[:search].to_sym] %>" />
                <% if user %>
                    <input name="session" type="hidden" value="<%= user.session %>"/>
                <% end %>
                <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
              </div>
            </form>
            <ul id="menu">
              <li><%= link("skills", "<i class='icon-tasks icon-white'></i>Skills") %></li>
              <li><%= link("projects", "<i class='icon-briefcase icon-white'></i>Projects") %></li>
              <li><%= link("users", "<i class='icon-user icon-white'></i>Users") %></li>
              <% if user %>
                  <li class="user"><%= link("user/#{user.username}", user.username) %></li>
                  <li><a id="logout" href="<%= request.base_url %>/logout"><i class='icon-off icon-white'></i>Logout</a></li>
              <% else %>
                  <li class="user"><%= link("registration", "Registration") %></li>
                  <li><%= link("login", "Login") %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div id="wrapper" class="wrapper">
          <div id="wrapperTop"></div>
            <% unless request.path_info == "/" %>
              <ul class="breadcrumb">
                <li><%= link("", "Home") %> <span class="divider">/</span></li>
                <% @page[:breadcrumb].each do |item| %>
                    <li><%= link(item[:url], item[:title]) %> <span class="divider">/</span></li>
                <% end %>
                <li class="active"><%= @page[:title] %></li>
              </ul>
            <% end %>
            <h2 id="headline"><%= @page[:title] %></h2>
            <div id="messages">
                <noscript>
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Javascript disabled!</h4>
                    This app needs Javascript. Please enable it.
                  </div>
                </noscript>
            </div>
            <%= yield %>
          <div id="wrapperBottom"></div>
        </div>
        <div id="footer">
          <div class="wrapper">
            <span class="name">&COPY; p<sup>2</sup> – project platform</span>
            <ul id="submenu">
              <li><%= link("api", "<i class='icon-wrench icon-white'></i>API") %></li>
              <li><%= link("help", "<i class='icon-book icon-white'></i>Help") %></li>
              <li><%= link("contact", "<i class='icon-envelope icon-white'></i>contact") %></li>
              <li><%= link("imprint", "<i class='icon-align-justify icon-white'></i>imprint") %></li>
            </ul>
            <span class="license">Apache License, Version 2</span>
          </div>
        </div>
      <%= js "layout" %>
    </body>
</html>