<!doctype html>
<html>
    <head>
      <meta charset='utf-8'>
      <title><%= @page[:title] %></title>
      <%= css "jqueryui/jquery-ui-1.9.1.custom",
              "/bootstrap/css/bootstrap.min",
              "/bootstrap/plugins/datepicker/css/datepicker"
      %>
      <%= less "style"
      %>
      <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,700,700italic,900,300,300italic' rel='stylesheet' type='text/css'>
      <script src="<%= request.base_url %>/js/jquery-1.8.3.js"></script>
      <script src="<%= request.base_url %>/js/jquery.form.js"></script>
      <script src="<%= request.base_url %>/js/jquery-ui-1.9.2.custom.min.js"></script>
      <script src="<%= request.base_url %>/bootstrap/js/bootstrap.min.js"></script>
      <script src="<%= request.base_url %>/js/less-1.3.0.min.js"></script>
      <script src="<%= request.base_url %>/js/jquery.validate.min.js"></script>
      <script>
          var pSquared = {
              baseUrl: "<%= request.base_url %>",
              session: <%= if user then "'#{user.session}'" else "null" end %>
          };
      </script>
    </head>
    <body>
        <div id="header">
          <div class="wrapper">
            <div id="logo"><%= link("", "<h1 class='hide-text'>p squared – project platform</h1>") %></div>
            <form method="get" action="" id="search">
              <div class="input-prepend input-append">
                <div class="btn-group">
                  <button class="btn dropdown-toggle input-small" data-toggle="dropdown"><i class="icon-<%= {All: "star", Projects: "briefcase", Users: "user"}[@page[:search].to_sym] %>"></i> <span class="text"><%= @page[:search] %></span> <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a><i class="icon-star"></i> All</a></li>
                    <li class="divider"></li>
                    <li><a><i class="icon-briefcase"></i> Projects</a></li>
                    <li><a><i class="icon-user"></i> Users</a></li>
                  </ul>
                </div>
                <input name="query" type="text" id="prependedDropdownButton" value="<%= @page[:query] %>" placeholder="Search for <%= {All: "Projects and Users", Projects: "Projects", Users: "Users"}[@page[:search].to_sym] %>" />
                <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
              </div>
            </form>
            <ul id="menu">
              <li><%= link("projects", "<i class='icon-briefcase icon-white'></i>Projects") %></li>
              <li><%= link("users", "<i class='icon-user icon-white'></i>Users") %></li>
              <% if user %>
                  <li class="user"><%= link("user/#{user.username}", user.username) %></li>
                  <li><a id="logout" href="<%= request.base_url %>/logout"><i class='icon-off icon-white'></i>Logout</a></li>
              <% else %>
                  <li class="user"><%= link("registration", "Registration") %></li>
                  <li><%= link("login", "Login") %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div id="wrapper" class="wrapper">
          <div id="wrapperTop"></div>
            <h2 id="headline"><%= @page[:title] %></h2>
            <div id="messages">
                <noscript>
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Javascript disabled!</h4>
                    This app needs Javascript. Please enable it.
                  </div>
                </noscript>
            </div>
            <%= yield %>
          <div id="wrapperBottom"></div>
        </div>
        <div id="footer">
          <div class="wrapper">
            <span class="name">&COPY; p<sup>2</sup> – project platform</span>
            <ul id="submenu">
              <li><%= link("api", "<i class='icon-wrench icon-white'></i>API") %></li>
              <li><%= link("help", "<i class='icon-book icon-white'></i>Help") %></li>
              <li><%= link("contact", "<i class='icon-envelope icon-white'></i>contact") %></li>
              <li><%= link("imprint", "<i class='icon-align-justify icon-white'></i>imprint") %></li>
            </ul>
            <span class="license">Apache License, Version 2</span>
          </div>
        </div>
      <%= js "layout" %>
        <script>
            (function() {
                $("#logout").click(function() {
                    var $this = $(this),
                        href = $this.attr("href");

                    $.ajax({
                        url: href,
                        type: "post",
                        data: {session: pSquared.session},
                        dataType: "json",
                        success: function(data) {
                            window.location.href = href
                        }
                    });

                    return false;
                });


                $("form").ajaxForm({
                    data: {session: pSquared.session},
                    dataType: "json",
                    forceSync: true,
                    beforeSubmit: function(arr, $form, options) {
                        if($form.valid()){
                            $form.find("button[type=submit]").after("<div class='ajax-load'></div>");
                        }else{
                            $form.showErrors();
                            return false;
                        }
                    },
                    success: function(data, statusText, xhr, $form) {
                        $form.find(".ajax-load").remove();

                        var $messages = $("#messages"),
                            $message = $("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>×</button><h4>Success!</h4></div>");

                        if(data.message) {
                            $message.append("<div>"+data.message+"</div>");
                        }
                        $messages.html($message);

                        if(pSquared.success instanceof Function) {
                            pSquared.success(data, statusText, xhr, $form);
                        }
                        var href = $form.attr("data-href");

                        if(href) {
                            if(pSquared.session) {
                                var connection = href.indexOf("?") == -1 ? "?" : "&";
                                href += connection+"session="+pSquared.session;
                            }
                            setTimeout(function() {
                                window.location.href = pSquared.baseUrl + href;
                            }, 500);
                        }
                    },
                    error: function(xhr) {
                        $(".ajax-load").remove();
                        var response = $.parseJSON(xhr.responseText),
                            errors = response.errors;

                        var $element,
                            $messages = $("#messages"),
                            $message = $("<div class='alert alert-error'><button type='button' class='close' data-dismiss='alert'>×</button><h4>Validation failed!</h4></div>");

                        if(errors) {
                            $element = $("<ul></ul>");
                            for(var field in errors) {
                                var $li = $("<li>"+field+"</li>"),
                                    $innerUl = $("<ul></ul>").appendTo($li),
                                    fieldErrors = errors[field];


                                for(var i = 0, length = fieldErrors.length; i < length; i++) {
                                    $innerUl.append("<li>"+fieldErrors[i]+"</li>");
                                }
                                $element.append($li)
                            }
                        } else if(response.message) {
                            $element = $("<div>"+response.message+"</div>");
                        }
                        if($element) {
                            $message.append($element);
                        }
                        $messages.html($message);
                    }
                });
            }());
        </script>
    </body>
</html>